body{
    font-family: 'Arial';
    color: #000000; 
}

.header {
    /* border: 3px solid red; */
    /* box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.07); */
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    background: #F1F3FF;
    z-index: 9;
}
/* .container {
    /* border: 3px solid green; */
    /* width: 1370px;  ukuran lebar */
    /* margin: auto; agar posisi di tengah */
    /* max-width: 100%; jika layarnya diperkecil maka max-widhtnya akan menyesuaikan ukuran layar*/
    /* display: flex; agar logo dan menu sejajar */
/*} */

.logo {
    /* border: 3px solid yellow; */
    width: 151px;
    display: flex;/* agar posisi ditengah */
    align-items: center;
}

.menu {
    /* border: 3px solid blue; */
    flex: 1; /* agar lebar full ke kanan  */
    display: flex; /* agar menu sejajar ke kanan */
    align-items: center; /* agar posisi ditengah */
    justify-content: flex-end; /* agar rata kanan */
}

.menu a {
    /* border: 3px solid gray; */
    display: block;
    margin: 16px;/* menambahkan jarak ke luar : margin */
    /* padding: 10px; menambahkan jarak ke dalam : pading */
    text-decoration: none; /* none : menghilangkan garis bawah */
    /* font-weight: bold; agar hurufnya menjadi tebal */
    color: #000000;
}

.burger-icon {
    display: none;
}

@media (max-width: 991px){
    /* .menu {
        display: none;
    } */
    .burger-icon {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }
    .burger-icon img {
        width: 40px;
    }
}

/* @media (max-width: 767px){
    /* .menu{
        display: none;
    } */
/* } */

.hero-section {
    background: #F1F3FF;
    padding-top: 100px;
    position: relative;
    /* height: 1200px; */
}

.hero-content {
    padding: 85px 0;
}

.hero-section h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.hero-section p {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    max-width: 75%;
    margin-bottom: 15px;
}

.hero-section a {
    background: #5CB85F;
    border-color: #5CB85F;
    border-radius: 2px;
    padding: 8px 12px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 1.5;
}

.hero-thumbnail {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0;
}

.hero-thumbnail img {
    width: 100%;
}

@media (max-width: 991px) {
    .hero-section {
      padding-top: 70px;
    }
    .hero-content {
      padding: 30px 0;
    }
    .hero-thumbnail {
      position: relative;
      width: 100%;
      right: auto;
      bottom: auto;
    }
    .hero-content h1 {
      font-size: 32px;
     }
  
    .hero-content p {
      max-width: 100%;
    }
}

@media (min-width: 1600px) { 
    .hero-thumbnail {
      width: 40%;
    }
}

.sidebar{
    flex: 1;
}

.top-sidebar {
    display: none;
}

.overlay-bg{
    display: none;
}

@media (max-width : 991px){
    .sidebar{
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
        width: 180px;
        top: 0;
        right: -180px;
        height: 100vh; /* vh :view height : full kebawah (sampai akhir konten) */
        padding-top: 32px;
        padding-right: 24px;
        padding-left: 16px;
        z-index: 1;
    }

    /* overlay background */
    /* .sidebar::before{
        content: '-';
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }

    .logo{
        z-index: -1;
    } */
    /* END overlay background */

    .overlay-bg{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        display: none;
    }

    .top-sidebar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .top-sidebar .h3{
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu a{
        margin-left: 0;
    }

    
}
